---
layout: default
title: About
---

{% include navbar.html %}

<div class="about-parallax-bg overlay position-fixed">
</div>
<!-- <div class="overlay position-fixed"></div> -->

<div class="section-one py-5 section ">
    <div class="about-section-one"></div>
    <div class="overlay position-fixed about-overlay"></div>
    <div class="container ">
        <div class="text-center w-100 mx-auto">
            <div class="px-auto">
                <!-- <img src="./assets/img/logo.png" width="250" class="my-4 pt-5"> -->
                <h1 class="font-weight-normal my-5 py-3 text-secondary">About Website</h1>
                <p class="h4 font-weight-normal mb-4 font-italic text-secondary">Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-two bg-white py-5 section">
    <div class="container">
        <div class="text-center text-primary section-title position-relative">
            <h2 class="py-4 font-weight-normal">Our promise</h2>
        </div>
        <div class="line-seperator position-relative mb-4"><span></span></div>
        <p class="h4 font-weight-normal mb-4 font-italic text-primary">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat
        </p>
    </div>
</div>
<div class="section bg-primary">
    <div class="container">
        <div class="row py-4 text-center text-secondary">
            <div class="col-4">
                <div class="h1 font-weight-normal"><i class="fas fa-car "></i></div>
                <h5>safely on the road</h5>
            </div>
            <div class="col-4">
                <div class="h1 font-weight-normal"><i class="fas fa-university"></i></div>
                <h5>qualified personnel</h5>
            </div>
            <div class="col-4">
                <div class="h1 font-weight-normal"><i class="far fa-clock"></i></div>
                <h5>always available</h5>
            </div>
            <div class="col-4">
                <div class="h1 font-weight-normal"><i class="fas fa-child "></i></div>
                <h5>children welcome</h5>
            </div>
            <div class="col-4">
                <div class="h1 font-weight-normal"><i class="far fa-money-bill-alt"></i></div>
                <h5>helpful</h5>
            </div>
            <div class="col-4">
                <div class="h1 font-weight-normal"><i class="fas fa-blind"></i></div>
                <h5>fair prices & discounts</h5>
            </div>

        </div>
    </div>
</div>

<div class="section-three bg-white py-5 section">
    <div class="container">
        <div class="col">
            <div class="text-primary section-title position-relative">
                <h2 class="py-4 font-weight-normal">Lorem ipsum dolor sit amet</h2>
            </div>
            <div class="line-seperator position-relative mb-4 float-left"><span></span></div>
            <p class="text-primary font-Belgrano mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="text-center">
                <a class="btn btn-primary my-5 rounded-0 font-Belgrano btn-lg" href="/rates.html">Check
                    Availability</a>
            </div>
        </div>
    </div>
</div>



<div class="section-five bg-gray py-5 section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-primary section-title position-relative">
                    <h2 class="py-4 font-weight-normal">Lorem ipsum dolor</h2>
                </div>
                <div class="line-seperator position-relative mb-4 float-left bg-white"><span></span></div>
                <p class="text-primary mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                </p>
            </div>
            <div class="col">
                <div class="text-primary section-title position-relative">
                    <h2 class="py-4 font-weight-normal">Lorem ipsum</h2>
                </div>
                <div class="line-seperator position-relative mb-4 float-left bg-white"><span></span></div>
                <p class="text-primary mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-six bg-primary section section-black">
    <div class="row m-0">
        <div class="col p-0">
            <img src="./assets/img/about-bg.jpg" class="img-fluid" alt="Image">
        </div>
        <div class="col">
            <div class="text-light section-title position-relative">
                <h2 class="py-4 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit? </h2>
            </div>
            <div class="line-seperator position-relative mb-4 float-left"><span></span></div>
            <p class="text-light mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="/contact.html" class="btn btn-outline-light rounded-0">Contact us now</a>
        </div>
    </div>
</div>
<div class="text-center bg-white py-5 text-primary h1 m-0">
    <a href="javscript:void(0)" id="scrollTopLink"><i class="far fa-arrow-alt-circle-up"></i></a>
</div>

{% include footer.html %}