---
layout: default
title: Contact
---

{% include navbar.html %}

<div class="about-parallax-bg overlay position-fixed">
</div>
<!-- <div class="overlay position-fixed"></div> -->

<div class="section-one py-5 section ">
    <div class="contact-section-one"></div>
    <div class="overlay position-fixed about-overlay"></div>
    <div class="container ">
        <div class="text-center w-100 mx-auto">
            <div class="px-auto text-secondary">
                <!-- <img src="./assets/img/logo.png" width="250" class="my-4 pt-5"> -->
                <h1 class="font-weight-normal my-5 py-3 ">Contact</h1>
                <p class="font-italic font-Belgrano h5">Address 1<br>
                    Lane 1, Street 1<br>
                    Pin Code : 000000</p>

                <p class="font-italic font-Belgrano h5">+99 999 999 0000 / +99 999 999 0001<br>
                    info@company.com</p>
            </div>
        </div>
    </div>
</div>

<div class="section-two py-5 section bg-white ">

    <div class="container ">
        <div class=" w-100 mx-auto">
            <div class="px-auto text-primary">
                <h1 class="font-weight-normal my-3 text-center">We look forward to meet you. </h1>
                <div class="line-seperator position-relative py-4"><span></span></div>
                <div class="form mt-5">
                    <form class="font-Belgrano">
                        <div class="form-row">
                            <div class="form-group col-md-6 px-3">
                                <label for="nameInput">Name *</label>
                                <input type="text" class="form-control rounded-0 border-0 bg-gray" id="nameInput"
                                    placeholder="">
                            </div>
                            <div class="form-group col-md-6 px-3">
                                <label for="companyInput">Company</label>
                                <input type="text" class="form-control rounded-0 border-0 bg-gray" id="companyInput"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 px-3">
                                <label for="mailInput">Email *</label>
                                <input type="email" class="form-control rounded-0 border-0 bg-gray" id="mailInput"
                                    placeholder="">
                            </div>
                            <div class="form-group col-md-6 px-3">
                                <label for="phoneInput">Phone *</label>
                                <input type="text" class="form-control rounded-0 border-0 bg-gray" id="phoneInput"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col px-3">
                                <div class="form-group">
                                    <label for="messageInput">Message</label>
                                    <textarea class="form-control border-0 rounded-0 bg-gray" id="messageInput"
                                        rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col px-3 text-right">
                                <button class="btn btn-primary btn-lg rounded-0 font-Belgrano">Check
                                    availability</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center bg-white py-5 text-primary h1 m-0">
    <a href="javscript:void(0)" id="scrollTopLink"><i class="far fa-arrow-alt-circle-up"></i></a>
</div>

{% include footer.html %}