<footer class="bg-primary pt-5 pb-2 text-secondary">
    <div class="container">
        <div class="row ">
            <div class="col">
                <img src="{{ site.baseurl }}/assets/img/logo.png" alt="footer_logo" class="img-fluid" width="50%">
            </div>
            <div class="col text-center">
                <h4 class="font-weight-bolder">Place of business </h4>
                <p>Address 1<br>
                    Lane 1, Street 1<br>
                    Pin Code : 000000</p>
            </div>
            <div class="col text-center">
                <h4 class="font-weight-bolder">Contact</h4>
                <p>+XX XXX XXX XXXX /<br> +X XXX XXX XXXX</p>
                <div class="mb-3">
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-envelope fa-stack-1x"></i>
                    </span>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-outline-light w-100 my-1 py-2" id="toggle_btn"><span
                            id="call">Call now</span><span id="number" class="d-none">+XX XXX XXX XXXX /<br> +X XXX XXX
                            XXXX</span></button>
                    <a href="/contact.html" class="btn btn-outline-light w-100 my-1 py-2">Booking request</a>
                </div>
            </div>
            <div class="col text-center">
                <h4 class="font-weight-bolder">Services</h4>
                <div class="">
                    <a href="/services.html/#service1" class="text-secondary position-relative">Service 1
                    </a>
                    <span> &#9679;</span>
                    <a href="/services.html/#service2" class="text-secondary position-relative">Service 2</a>
                    <span> &#9679;</span>
                    <a href="/services.html/#service3" class="text-secondary position-relative">Service 3</a>
                    <span> &#9679;</span>
                    <a href="/services.html/#service4" class="text-secondary position-relative">Service 4</a>
                    <span> &#9679;</span>
                    <a href="/services.html/#service5" class="text-secondary position-relative">Service 5</a>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="border-top text-center mt-3  border-white">
        <p class="small mb-1 mt-3">Website created by :</p>
        <p class="small">Inteligo</p>
    </div> -->
</footer>